@import './variables';


// Initial Styling for elements
* {
  font-family: $font-secondary;

}

html, body, .app, #root {
  height: 100%;

}
body {
  margin: 0;
}
h1, h2, h3, h4 {
  font-family: $font-primary;
  margin: 0;
}
p, h2, label {
  color: $col-light;
}
h5 {
  color: $col-primary;
}
p {
  font-size: 0.8rem;
}
li, a {
  color: $col-light;
  text-decoration: none;
  list-style: none;
  :hover {
    cursor: pointer;
  }
}
h1 {
  text-transform: lowercase;
  color: $col-primary;
  font-size: 2.5rem;
  padding: 1rem;
}



form {
  padding: 1.8rem;
  border: 1px solid $col-outline;
  border-radius: 10px;
  background-color: $col-dark;
  color: $col-light;


  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.3rem;
  }

  label {
    font-size: 0.7rem;
  }

  input {
    border: none;
    background-color: $col-background;
    padding: 0.3rem 0.8rem;
    border: 1px solid $col-outline;
    border-radius: 7px;
    color: $col-light;
    outline: none;
  }
  select {
    padding: 0.3rem 0.8rem;
  }
  textarea, select, input {
    margin-top: 3px;
  }
}

table {
  color: $col-light;
  background-color: $col-background;
  border: 1px solid $col-outline;
  border-radius: 5px;
  width: 100%;
  border-collapse:collapse;
  font-size: 0.65rem;
  text-align: center;
  thead {
    background-color: $col-primary;
    color: $col-dark;
  }

  th {
    background-color: $col-primary;
    color: $col-dark;
  }
  th, td {
    padding: 0.5rem;
    font-weight:300;
  }
}

body {
  background-color: $col-background;
}



// Titles and Subtitle
.page-title {
  color: $col-light;
  text-transform: capitalize;
  font-size: 3rem;
  padding-left: 0;
}

.sub-title {
  color: $col-primary;
  text-transform: lowercase; 
  font-size: 2.5rem; 
  margin-bottom: 0.3rem;
}

.active {
  color: $col-primary
}

// buttons
.btn-form {
  padding: 0.5rem 1rem;
  border: 1px solid $col-dark;
  border-radius: 7px;
  margin-top: 10px;
  &:hover {
    cursor: pointer; 
    background-color: $col-dark;
    border: 1px solid $col-light;
    border-radius: 7px;
    color: $col-light;

  }
}
.btn-primary {
  color: $col-light;
  background-color: $col-primary;
  border: none;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid $col-primary;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
    color: $col-dark;
  }
}

.btn-secondary {

  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  background-color: $col-outline;
  &:hover {
    cursor: pointer;
  }
}

.btn-fa {
  &:hover {
    cursor: pointer;
  }
}

#logout {
  align-self: center;
  margin: 10px;
}
// Reusable Components
header#header {
  text-align: center;
  width: 100%;
  background-color: $col-dark; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ul {
    color: $col-light;
    display: flex;
    padding: 0;
    width: 30%;
    justify-content: space-around;
  }
}

footer#footer {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $col-dark;
}

.app {
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
}

// Content 
.content-box {
  background-color: $col-dark;
  border: 1px solid $col-outline; 
  padding: 1rem;
  border-radius: 10px;
  overflow-x: auto;
}

.container {
  width: 80%;
}

.vertical-divider {
  width: 1px;
  background-color: $col-dark;
  height: 200px;
  align-self: center;
}

.row {
  display: flex;
  flex-direction: row;
  input {
    width: 40%;
  }
}

#pop-up {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position:fixed;
  font-size: 1rem;
  color: $col-dark;
  margin: 0 auto;
  z-index: 2;
  background-color: $col-primary;
  width: 20%;
  transform: translate(-50%, 0);
  text-align: center;
  left: 50%;
  > p {
    font-size: 1rem;
    margin-left: 3px;
    color: $col-dark;
  }
}
// Login Page 

#login-reg-page {
  h2 {
    margin: 1rem;
    text-align: center;
  }
  min-height: 600px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
  #login, #register {
    width: 30%;
  }
}


// History Page 
#history-page {
  display: flex;
  justify-content: space-between;
  > div {
    width: 45%;
  }

  #brewing, #recipes {
    margin-bottom: 20px;
  }
}

// Calculator Page
#calculator-page {
  display: flex;
  flex-direction: row;

  #calculator-box {
    flex: 4;
  }
  #calculator-selector {
    flex: 1;
    margin-left: 15px;
  select {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
   option {
     width: 100%;
     text-align: center;
     padding: 0.5rem;
     
   }
  }
}

// Home Page
#home-page {
  #create-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    > div:nth-child(1) {
      width: 62%;
    }
    > div:nth-child(2) {
      width: 35%
    }
  }

  #progress-section, #create-recipe, #create-brew {
    margin-bottom: 20px;
  }

  #progress-box {
    display: flex;
    .progress-table {
      width: 100%;
    }

    p {
      margin-left: 10px;
    }
    flex-grow: 1;
    justify-content: space-around;
  }

  .progress-table {
    padding: 1rem;
    
  }

  .progress-title {
    display: flex;
    color: $col-light;
    align-items: center;
    > h3 {
      margin-left: 10px;
    }
    margin-bottom: 15px;
  }

  img {
    height: 25px;
    width: 25px;
    transition-duration: 0.5s;
    transition-property: transform;
  }

  .progress-title:hover {
    img {
      transform: rotate(360deg);
    }
  }

  #recipe-form {
    .hops-entry, .grain-entry {
      display: flex;
      flex-direction: column;
      border: 1px solid $col-primary;
      border-radius: 10px;
      padding: 1rem;
    }
    .fa-icon {
      align-self: center;
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
  }
  
}

// MOBILE

@media(max-width: 800px) {
  header {
    flex: .001 0 auto;
  }
  #main-navigation {
    display: flex;
    flex-direction: column;
  }

  #history-page {
    flex-direction: column;
    margin-bottom: 20px;

    > div {
      width: 100%;
    }
  }

  #home-page {
    #create-section {
      flex-direction: column;
      margin-bottom: 20px;
  
      > div {
        width: 100% !important;
      }
    }

    #progress-box {
      grid-template-columns: 100%;
    }
    
  }
  
  #calculator-page {
    flex-direction: column;
    flex-flow:column-reverse;
    #calculator-selector {
      margin-bottom: 10px;
      margin-left: 0;
    }
  }
}

@media(max-width: 600px) {
  .container {
    width: 90%;
    .page-title {
      font-size: 2rem;
    }

    .sub-title {
      font-size: 1.5rem;
    }
  }
  
  #login-reg-page {
    flex-direction: column;
    justify-content: center;
    #login, #register {
      width: 100%;
    }
    margin-top: 0;
    margin-bottom: 20px;
  }

  .vertical-divider {
    display: none;
  }
}


